<section data-ng-controller="HomeController">
    <h1 class="text-center">Bug tracker</h1>
    <section>

        <dl>
            <dt>Sign in</dt>
            <dd>
                Sign in top right corner before you can see the bugs list
            </dd>
            <dt>View Bugs</dt>
            <dd>
                To view the bugs click Bugs above
            </dd>
            <dt>Add Bugs</dt>
            <dd>
                To add a bug click New Bug above and add it.
            </dd>
        </dl>
        <p class="alert bg-success">
            Hopefully this is so easy to use you will never have to ask
        </p>
        <br>
        <br>Enjoy &amp; Keep Us Updated,

    </section>
</section>