.content {
	margin-top: 50px;
}
a.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}



.red {
    color: red;
}

.green {
    color: #94de2d;
}

/*ul{list-style-type: none;}*/
.list-group.li { padding-left: 1em; margin:1em;  }

ul {-webkit-padding-start: 0px;}