<section data-ng-controller="BugsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Bugs</h1>
    </div>
    <div class="list-group">
        <h2 class="green">Done bugs</h2>
        <ul>
        <li data-ng-repeat="bug in bugs | filter:filterDoneBugs" data-ng-href="#!/bugs/{{bug._id}}" class="list-group-item">
            <div class="row " >
                <div class="col-md-9">
                    <small class="list-group-item-text">{{bug.created | date:'d/M/yy'}} / {{bug.user.displayName}}</small>
                    <h4 class="list-group-item-heading">{{bug.name}}</h4>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" ng-click="toggle(bug)">reject</button>
                    <button class="btn btn-default" ng-click="remove(bug)">remove</button>
                </div>
            </div>
        </li>
        </ul>
    </div>
    <div class="list-group ">
        <h2 class="red">Fresh bugs</h2>
        <ul>
            <li data-ng-repeat="bug in bugs | filter:!filterDoneBugs" data-ng-href="#!/bugs/{{bug._id}}" class="list-group-item ">
                <div class="row ">
                    <div class="col-md-9 ">
                        <small class="list-group-item-text ">{{bug.created | date:'medium'}} / {{bug.user.displayName}} </small>
                        <h4 class="list-group-item-heading">{{bug.name}}</h4>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" ng-click="toggle(bug)">done</button>
                        <button class="btn btn-default" ng-click="remove(bug)">remove</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="alert alert-warning text-center" data-ng-hide="!bugs || bugs.length">
    	No Bugs yet, why don't you <a href="/#!/bugs/create">create one</a>?
    </div>
</section>